body {
	background-image: url(../img/img00.png);
	background-size: cover;
	margin: 0;
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 100%;
}
div {
	text-align: center;
}
a {
	text-decoration: none;
}

.container {
	text-align: center;
	width: 650px;
	height: 630px;
	margin: 0 auto;
}
.signupForm {
	width: 650px;
	height: 630px;
	text-align: center;
	padding-top: 4em;
}
.logo img {
	height: 3em;
}
.signinLogin {
	width: 650px;
	height: 226px;
	padding: 22px;
	border: solid #E2E2E2 1px;
	border-radius: 2px;
}
.signup {
	float: left;
	width: 302px;	
}
.login {
	float: right;
	width: 302px;
	border-left: solid #E2E2E2 1px; 
}
.login-title {
	float: right;
	width: 270px;
	height: 48px;
	text-align: left;
}
.gmail {
background-color: #df4930;
color: #fff;
border-radius: 3px;
	padding: 20px;
	text-align: center;
}

.facebook {
	background-color: #507cc0;
	color: #fff;
	border-radius: 3px;
	border-bottom: 3px;
	margin-top: 20px;
	padding: 20px;
		margin-bottom: 20px;
}
form input{
	width: 270px;
	height: 35px;
	margin-top:20px;
	border: 0.5px solid #ECE0E0;
	border-radius: 3px;
	background-color: #ECE0E0;
	
}
form  a{
	font-size: 11pt;
}
.input-pass{
	margin-bottom: 10px;
}
.button-login{
margin-top:20px;
	background-color: #507cc0;
	padding: 8px;
	border: 0.5px solid #507cc0
	border-radius: 3px;
float: right;
} 